# C0.1 - Kaglle Intro: First Compettion - Titanic Survival

In [178]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.optimizers import Adam

from catboost import CatBoostClassifier

<frozen importlib._bootstrap>:241: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 216 from C header, got 232 from PyObject

## Import Data

In [417]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## Preprocessing

In [418]:
# Train data
train.drop(['PassengerId', 'Name', 'SibSp', 'Parch', 'Ticket', 'Cabin'], axis=1, inplace=True)
train.Age.replace(np.nan, train.Age.mean(), inplace=True)
train = train.dropna()

# Test data
test.drop(['PassengerId', 'Name', 'SibSp', 'Parch', 'Ticket', 'Cabin'], axis=1, inplace=True)
test.Age.replace(np.nan, test.Age.mean(), inplace=True)

## Split the Data

In [419]:
X = train.drop('Survived', axis=1)
y = train.Survived

X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.1, random_state=42)

## CatBoost

In [430]:
model_ctb = CatBoostClassifier(iterations=200, loss_function='Logloss', silent=True, cat_features=[0, 1, 4])

model_ctb.fit(X_train, y_train)
model_ctb.score(X_valid, y_valid)

0.8651685393258427

In [427]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 800 entries, 77 to 103
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    800 non-null    int64
 1   Sex       800 non-null    object
 2   Age       800 non-null    float64
 3   Fare      800 non-null    float64
 4   Embarked  800 non-null    object
dtypes: float64(2), int64(1), object(2)
memory usage: 37.5+ KB

In [422]:
model = CatBoostClassifier(iterations=200, loss_function='Logloss', silent=True, cat_features=[1, 4])
model.fit(X, y)
predictions = model.predict(test)

## Submission

In [425]:
submission = pd.DataFrame({'PassengerId':pd.read_csv('gender_submission.csv')['PassengerId'],'Survived':predictions})
submission.to_csv('sur1.csv', index=False)